@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;600&display=swap');

:root{
    --primary: #F50057;
    --gray: #6B7280;
    --lightgray: #F3F4F6;
}

body{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    margin: 0;
}

.link-primary{
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color:var(--primary);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    /* font-size: 1em; */
}

.link-secondary{
    display: inline-block;
    text-decoration: none;
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    /* font-size: 1em; */
}

hr{
    margin: 2rem 0;
}

.list-ul{
    list-style: none;
}

.list-inline li{
    display: inline;
    margin: 0rem 0.5rem;
    /* padding: 0rem 0.5rem; */
}

nav{    
    background-color:var(--primary);
    border-bottom-left-radius: 1rem;
    padding: 1.5rem 2rem;    
    color: white;
}

nav p{
    margin-block-start: 0em;  
    margin-block-end: 0em;
    /* had to fix from Elements */
}

nav ul{
    text-align: right;
    margin-block-start: 0em;
    margin-block-end: 0em;
    /* had to fix from Elements */
}

nav li{
    display: inline;    
}

nav li a{    
    text-decoration: none;
    color: white; 
    padding: 0rem 0.7rem;   
}

.container-center {
    margin: auto;
    max-width: 600px;
}

.container-center img{
    display: block;
    margin: auto;
    max-width: 600px;
}

header h1{
    color: var(--gray);
}

section{
    padding: 1rem;
}

section h2{
    text-align: center;
}

.section-off-white{
    background-color: var(--lightgray);
}

footer{
    color: white;
    background-color: var(--primary);
    padding: 1.5rem 2rem;
    border-top-right-radius: 1rem;
}

footer h3{
    margin: 1rem;
    text-align: center;
}

footer ul{
    margin: 1rem;
    text-align: center;
    padding-inline-start: 0px;
}