@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    --primary: #F50057;
    --gray: #6B7280;
    --lightgray: #F3F4F6;
}

body{
    font-family: 'Montserrat', sans-serif;
    /* margin: 0; */
    max-width: 1000px;
    margin: auto;
}

.link-primary{
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color:var(--primary);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    /* margin-top: 0.5rem; */
    margin-right: 0.5rem;
}

.link-secondary{
    display: inline-block;
    text-decoration: none;
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    /* margin-top: 0.5rem; */
    margin-right: 0.5rem;
}

.link-tertiary{
    display: inline-block;
    text-decoration: none;
    color: var(--primary);
    /* padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    margin-right: 0.5rem; */
}

.active {
    font-weight: bolder;
}

hr{
    margin: 2rem 0;
}

.list-ul{
    list-style: none;
    /* float: left; */
}

.list-inline li{
    display: inline;
    margin: 0rem 0.5rem;
    /* padding: 0rem 0.5rem; */
}

.list-inline-bullets{
    padding-inline-start: 0px;
    padding: 0rem;
    margin: 0rem;
}

.list-inline-bullets li{
    list-style: none; 
    display: inline;
    padding: 0rem;
    margin: 0rem;
}

.list-inline-bullets li:after { 
    content: "|"; 
    /* font-weight: bold; */
    /* font-size: 1rem; */
    text-align: center;
    padding: 0rem 1rem;
}

.list-inline-bullets li:last-child:after { content: none; }

.list-inline-bullets strong{
    color: var(--gray);
}

@media only screen and (max-width: 600px) {
    .list-inline-bullets li{
        list-style: none; 
        display: block;
        font-size: 0.9rem;
        padding: 0.2em 0em;
        margin: 0rem;
    }
    .list-inline-bullets li:after { 
        content: none; 
    }
    .link-primary{
        margin-bottom: 0.8rem;
    }
}

nav{    
    background-color:var(--lightgray);
    border-bottom-left-radius: 1rem;
    padding: 1.5rem 2rem;    
    color: var(--primary);
}

nav p{
    margin-block-start: 0em;  
    margin-block-end: 0em;
    font-size: larger;
    /* had to fix from Elements */
}


nav ul{
    text-align: right;
    margin-block-start: 0em;
    margin-block-end: 0em;
    /* had to fix from Elements */
}

nav li{
    display: inline;    
}

nav li a{    
    text-decoration: none;
    color: var(--primary); 
    padding: 0rem 0.7rem;   
}

.container-center {
    margin: auto;
    max-width: 1000px;
}

.container-center img{
    display: block;
    margin: auto;
    max-width: 300px;
}

header {
    padding: 2rem 1rem;
}

header h1{
    color: var(--gray);
    text-align: center;
}

header p{    
    text-align: center;
    max-width: 800px;
    margin: auto;    
}

section{
    padding: 2rem;
    text-align: center;
}

section h2{
    margin-block-start: 0em;
    margin-block-end: 0em;
    /* text-align: left; */
}

.section-off-white{
    background-color: var(--lightgray);
}

footer{
    color: white;
    background-color: var(--primary);
    padding: 1.5rem 2rem;
    border-top-right-radius: 1rem;
}

footer h3{
    margin: 1rem;
    text-align: center;
}

footer ul{
    margin: 1rem;
    text-align: center;
    padding-inline-start: 0px;
}

.date {
    margin-bottom: -0.7rem;
    font-size: 0.8rem;
 }

 article h1{
    margin-block-start: 1em;
 }

 .fa {    
    padding: 20px; 
    font-size: 25px;   
    width: 25px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    
  }
  
  .fa:hover {
      opacity: 0.8;
  }

 .fa-linkedin {
    background: rgba(255, 255, 255, 0.596);
    color: var(--primary);    
  }

  .fa-github {
    background:  rgba(255, 255, 255, 0.596);
    color: var(--primary);    
  }

  .fa-twitter {
    background:  rgba(255, 255, 255, 0.596);
    color: var(--primary);  
  }

  ol{
    padding-inline-end: 40px;
    margin-block-start: 2em;
    margin-block-end: 2em;
  }